[run]
branch = True
source = scalems,examples
concurrency = thread

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    if args\.pycharm

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise .*MissingImplementationError
    raise RuntimeError
    raise .*APIError
    raise .*InternalError
    raise NotImplemented
    raise argparse.ArgumentTypeError
    except Exception
    except BaseException

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
    raise NotImplementedError
    \.\.\.

    # Don't complain if non-coverable code isn't run:
    if self._Coverage is not None:
    if self.cov is not None:

    # Ignore some error handling we hope to never trigger or isn't worth testing:
    except ImportError:

ignore_errors = True

omit =
    */scalems/_version.py
