[run]
branch = True
source = scalems
concurrency = thread

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    if args\.pycharm

    # Don't complain if tests don't hit defensive assertion code:
    deprecated
    except BaseException
    except Exception
    logger.exception
    logger.error
    raise argparse.ArgumentTypeError
    raise .*APIError
    raise AssertionError
    raise .*DispatchError
    raise .*InternalError
    raise .*MissingImplementationError
    raise NotImplemented
    raise .*ProtocolError
    raise RuntimeError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
    raise NotImplementedError
    \.\.\.

    # Don't complain if non-coverable code isn't run:
    if self._Coverage is not None:
    if self.cov is not None:

    # Ignore some error handling we hope to never trigger or isn't worth testing:
    except ImportError:

ignore_errors = True

omit =
    */scalems/_version.py
