build
coverage
flake8
pytest>=6.1.2
pytest-asyncio>=0.14
pytest-env
setuptools
wheel
# RADICAL requirements
mock
netifaces
ntplib
pylint
pymongo<4
python-hostlist
setproctitle
tox>=2.0

# 1 December:
# radical.pilot==1.11.0

# Use `pip install -r requirements-testing.txt --upgrade` to get branch updates.
# https://github.com/radical-cybertools/radical.pilot/archive/53e85ea99345b6f50f3adfd975385be3200b750f.tar.gz
git+https://github.com/radical-cybertools/radical.utils.git@devel#egg=radical.utils
git+https://github.com/radical-cybertools/radical.saga.git@devel#egg=radical.saga
git+https://github.com/radical-cybertools/radical.pilot.git@devel#egg=radical.pilot
