build
coverage
flake8
pytest>=6.1.2
pytest-asyncio>=0.14
pytest-env
setuptools
wheel
# RADICAL requirements
mock
netifaces
ntplib
pylint
pymongo
python-hostlist
setproctitle
tox>=2.0

# Use `pip install -r requirements-testing.txt --upgrade` to get branch updates.
https://github.com/radical-cybertools/radical.utils/archive/project/scalems.tar.gz
https://github.com/radical-cybertools/radical.saga/archive/project/scalems.tar.gz
https://github.com/radical-cybertools/radical.pilot/archive/project/scalems.tar.gz
